server
{
    listen 8088;
    host 127.0.0.1;
    server_name test;
    cgi_timeout 10;
    error_page 400 ./path.html;
    max_body_Size 5000;
    location /dir
    {
        index  index.html ;
        root /nfs/homes/afadlane/webserv;
        uploadfile ON;
        upload_location /nfs/homes/afadlane/webserv;
        autoindex ON;
        cgi_allowed ON;
        cgi     /usr/bin/python3 .py;
        cgi     /usr/bin/php-cgi8.1 .php;
        cgi     /usr/bin/perl .pl;
        allowed_methods GET POST DELETE;
    }  
}
server
{
    listen 8080;
    host 127.0.0.1;
    server_name test;
    cgi_timeout 10;
    error_page 400 ./path.html;
    max_body_Size 5000;
    location /dir
    {
        index  index.html ;
        root /nfs/homes/afadlane/webserv;
        uploadfile ON;
        upload_location /nfs/homes/afadlane/webserv;
        autoindex ON;
        cgi_allowed ON;
        cgi     /usr/bin/python3 .py;
        cgi     /usr/bin/php-cgi8.1 .php;
        cgi     /usr/bin/perl .pl;
        allowed_methods GET POST DELETE;
    }  
}
server
{
    listen 8081;
    host 127.0.0.1;
    server_name test;
    cgi_timeout 10;
    error_page 400 ./path.html;
    max_body_Size 5000;
    location /dir
    {
        index  index.html ;
        root /nfs/homes/afadlane/webserv;
        uploadfile ON;
        upload_location /nfs/homes/afadlane/webserv;
        autoindex ON;
        cgi_allowed ON;
        cgi     /usr/bin/python3 .py;
        cgi     /usr/bin/php-cgi8.1 .php;
        cgi     /usr/bin/perl .pl;
        allowed_methods GET POST DELETE;
    }  
}
server
{
    listen 8082;
    host 127.0.0.1;
    server_name test;
    cgi_timeout 10;
    error_page 400 ./path.html;
    max_body_Size 5000;
    location /dir
    {
        index  index.html ;
        root /nfs/homes/afadlane/webserv;
        uploadfile ON;
        upload_location /nfs/homes/afadlane/webserv;
        autoindex ON;
        cgi_allowed ON;
        cgi     /usr/bin/python3 .py;
        cgi     /usr/bin/php-cgi8.1 .php;
        cgi     /usr/bin/perl .pl;
        allowed_methods GET POST DELETE;
    }  
}
