server
{
    listen 8081;
    host 127.0.0.1;
    server_name test;
    error_page 400 ./path.html;
    max_body_Size 5000;
    location /dir
    {
        index  index.html;
        root /nfs/homes/afadlane/webserv;
        uploadfile ON;
        upload_location /nfs/homes/afadlane/webserv/;
        autoindex ON;
        cgi_allowed ON;
        cgi     /usr/bin/python3 .py;
        cgi     /usr/bin/php-cgi8.1 .php;
        cgi     /bin/bash .sh ; 
        allowed_methods GET POST DELETE;
    }  
}