server
{
    listen 8080;
    host 127.0.0.1;
    server_name test;
    cgi_timeout 20;
    location /akatfi
    {
        root /nfs/homes/akatfi/Desktop/webserv/akatfi;  
        autoindex ON;
        allowed_methods GET DELETE POST;
    } 
    location /afadlane
    {
        root /nfs/homes/akatfi/Desktop/webserv/afadlane/;
        autoindex ON;
        index index.html;
        allowed_methods GET POST;
        cgi_allowed ON;
       cgi      /usr/bin/python3 .py;
        cgi     /usr/bin/php-cgi8.1 .php;
        cgi     /bin/bash .sh ; 
    }
    location /
    {
        root /nfs/homes/akatfi/Desktop/webserv/moelkama;
        upload_location /source;
        autoindex ON;
        allowed_methods GET POST;
    } 
    location /client/moelkama
    {
        root /nfs/homes/akatfi/Desktop/webserv/www;
        uploadfile ON;
        upload_location /source;
        autoindex ON;
        allowed_methods GET POST;
    }      
}
server
{
    listen 8082;
    host 0.0.0.1;
    server_name test;
    error_page 400 ./path.html;
    max_body_Size 5000;
    location /dir/
    {
        index index.html;
        root afadlane;
        uploadfile ON;
        upload_location /www;
        autoindex ON;
        cgi_allowed ON;
        cgi     /usr/bin/python3 .py;
        cgi     /usr/bin/php-cgi8.1 .php;
        cgi     /bin/bash .sh ; 
        allowed_methods GET POST;
    }
    location /dir1/
    {
        index file.py phpinfo.php index.html;
        root afadlane;
        uploadfile ON;
        upload_location akatfi;
        autoindex ON;
        cgi_allowed ON;
        cgi     /usr/bin/python3 .py;
        cgi     /usr/bin/php-cgi8.1 .php;
        cgi     /bin/bash .sh ; 
        allowed_methods GET POST;
    }    
}
server
{
    listen 8082;
    host 127.0.0.1;
    server_name test;
    error_page 400 ./path.html;
    max_body_Size 5000;
    location /dir/
    {
        index index.html;
        root afadlane;
        uploadfile ON;
        upload_location /www;
        autoindex ON;
        cgi_allowed ON;
        cgi     /usr/bin/python3 .py;
        cgi     /usr/bin/php-cgi8.1 .php;
        cgi     /bin/bash .sh ; 
        allowed_methods GET POST;
    }
    location /dir1/
    {
        index file.py phpinfo.php index.html;
        root afadlane;
        uploadfile ON;
        upload_location akatfi;
        autoindex ON;
        cgi_allowed ON;
        cgi     /usr/bin/python3 .py;
        cgi     /usr/bin/php-cgi8.1 .php;
        cgi     /bin/bash .sh ; 
        allowed_methods GET POST;
    }    
}