server
{
    listen 8080;
    host 127.0.0.1;
    server_name test;
    error_page 400 ./path.html;
    max_body_Size 5000;
    location /
    {
        root /home/afadlane/webserv/afadlane;
        autoindex ON;
        allowed_methods GET;
    }         
}
server
{
    listen 8009;
    host 127.0.0.1;
    server_name test;
    error_page 400 ./path.html;
    max_body_Size 5000;
    location / 
    {
        root ./www/;
        autoindex ON;
        allowed_methods GET;
    }
    location /dir1 
    {
        root ./www/dir1;
        autoindex ON;
        index indefx.html;
        allowed_methods GET POST;
    }
    location  /dir2 
    {
        root ./www/dir1;
        autoindex ON;
        uploadfile ON;
        upload_location path;
        index indx.html;
        allowed_methods GET DELETE;
    }
    location  /cgi2 
    {
        root ./www/cgi;
        autoindex ON;
        cgi_allowed ON;
        cgi /usr/bin/php .php;
        allowed_methods GET;
    }
}